<body>
  <div *ngIf="survey" class="survey-container">
    <div *ngIf="isAuthenticated">
      <button mat-menu-item (click)="navigateTo('encuesta')">
        <mat-icon>logout</mat-icon> volver a encuestas
      </button>
    </div>

    <!-- Formulario de datos del usuario -->
    <div class="user-form">
      <h2>Datos del Participante</h2>
      <div class="form-group">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" [(ngModel)]="userData.nom_cliente" placeholder="Ingrese su nombre" />
      </div>
      <div class="form-group">
        <label for="telefono">Teléfono:</label>
        <input type="tel" id="telefono" [(ngModel)]="userData.telefono" placeholder="Ingrese su teléfono" />
      </div>
      <div class="form-group">
        <label for="comuna">Comuna:</label>
        <input type="text" id="comuna" [(ngModel)]="userData.nom_comuna" placeholder="Ingrese su comuna" />
      </div>
      <div class="form-group">
        <label for="correo">Correo:</label>
        <input type="email" id="correo" [(ngModel)]="userData.correo" placeholder="Ingrese su correo" />
      </div>
    </div>

    <!-- Título de la encuesta -->
    <h1>Encuesta: {{ survey.name }}</h1>

    <!-- Preguntas de la encuesta -->
    <div *ngFor="let question of survey.questions; let i = index" class="question-container">
      <p class="survey-question"><strong>Pregunta {{ i + 1 }}:</strong> {{ question.question }}</p>
      
      <!-- Pregunta de tipo texto -->
      <div *ngIf="question.answerType === 'text'">
        <label for="answer-{{ question.id }}">Respuesta:</label>
        <input 
          type="text" 
          id="answer-{{ question.id }}" 
          [(ngModel)]="question.answer" 
          placeholder="Escribe tu respuesta aquí" 
          (change)="onAnswerQuestion(question.id, question.answer)"
        />
      </div>

      <!-- Pregunta de tipo selección -->
      <div class="AnswerForm" *ngIf="question.answerType === 'select'">
        <label for="answer-{{ question.id }}">Seleccione una opción:</label>
        <select 
          id="answer-{{ question.id }}" 
          [(ngModel)]="question.answer" 
          (change)="onAnswerQuestion(question.id, question.answer)"
        >
          <option value="opcion1">Opción 1</option>
          <option value="opcion2">Opción 2</option>
        </select>
      </div>
    </div>

    <!-- Botón para guardar las respuestas -->
    <div class="submit-container" *ngIf="!isAuthenticated">
      <button class="submit-btn" (click)="guardarEncuesta()">Guardar Encuesta</button>
    </div>
  </div>
</body>
