<div class="login-wrap">
	<div class="login-html">
		<input id="tab-1" type="radio" name="tab" class="sign-in" checked>
		<label for="tab-1" class="tab">Ingresar</label>
		<input id="tab-2" type="radio" name="tab" class="sign-up">
		<label for="tab-2" class="tab">Crear cuenta</label>
		<div class="login-form">
			<div class="sign-in-htm">
				<div class="group">
					<label for="login-email" class="label">Email</label>
					<input id="login-email" type="text" class="input" [(ngModel)]="loginObj.email">
				</div>
				<div class="group">
					<label for="login-password" class="label">Password</label>
					<input id="login-password" type="password" class="input" data-type="password" [(ngModel)]="loginObj.password">
				</div>
				<div class="group">
					<input id="login-check" type="checkbox" class="check" checked>
					<label for="login-check"><span class="icon"></span> Mantenerme Conectado</label>
				</div>
				<div class="group">
					<button type="button" class="button" (click)="onLogIn()">Ingresar</button>
				</div>
				<div class="hr"></div>
				<div class="foot-lnk">
					<a href="#forgot">Recuperar contraseña</a>
				</div>
			</div>
			<div class="sign-up-htm">
				<div class="group">
					<label for="signup-username" class="label">Username</label>
					<input id="signup-username" type="text" class="input" [(ngModel)]="signupObj.userName">
				</div>
				<div class="group">
					<label for="signup-password" class="label">Password</label>
					<input id="signup-password" type="password" class="input" data-type="password" [(ngModel)]="signupObj.password">
				</div>
				<div class="group">
					<label for="signup-password-repeat" class="label">Repetir Password</label>
					<input id="signup-password-repeat" type="password" class="input" data-type="password" [(ngModel)]="signupObj.passwordV">
				</div>
				<div class="group">
					<label for="signup-email" class="label">Email</label>
					<input id="signup-email" type="text" class="input" [(ngModel)]="signupObj.email">
				</div>
				<div class="group">
					<button type="button" class="button" (click)="onSignUp()">Crear Cuenta</button>
				</div>
				<div class="hr"></div>
			</div>
		</div>
	</div>
</div>

	



<!--[(ngModel)]="signupObj.userName" >-->