/* Estilos para la barra de herramientas (mat-toolbar) */
.sidenav-container {
  height: 100vh; /* Asegura que el contenedor ocupe toda la altura de la pantalla */
  display: flex; /* Usa flexbox para permitir un diseño flexible */
  flex-direction: column; /* Asegura que el contenido fluya verticalmente */
  background-color: lightblue;
  padding: 0 16px;
}

mat-toolbar {
    background-color: #1976d2; /* Color primario */
    color: white;
    font-size: 1.5rem;
    display: flex;
    justify-content: center; 
    padding: 0 16px;
    margin-top: 10px;
    h2 {
      margin: 0;
    }
  }
  
  /* Estilos para el formulario */
  form {
    display: flex;
    flex-direction: column;
    gap: 15px; /* Espacio entre los elementos */
    margin: 20px 0;
    padding: 0 16px;
    mat-form-field {
      width: 100%; /* El campo toma todo el ancho */
    }
  
    button {
      align-self: flex-end; /* Alinear botón a la derecha */
    }
  }
  
  /* Estilos para las tarjetas de usuario */
  mat-card {
    margin: 10px 0; /* Espacio entre las tarjetas */
    padding: 15px;
    background-color: #f5f5f5;
  
    mat-card-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
  
      mat-card-title {
        font-size: 1.2rem;
        font-weight: bold;
      }
  
      mat-card-subtitle {
        font-size: 0.9rem;
        color: gray;
      }
  
      p {
        font-size: 0.9rem;
        color: #333;
      }
    }
  
    mat-card-actions {
      display: flex;
      justify-content: flex-end;
      gap: 10px;
  
      button {
        font-size: 0.8rem;
        min-width: 100px;
      }
    }
  }
  
  /* Lista de usuarios */
  mat-list {
    margin-top: 20px;
  }
  
  mat-list-item {
    width: 100%;
  }
  
  /* Botones para eliminar y actualizar */
  button {
    margin-right: 10px;
  }