<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer mode="side" opened>
    <mat-nav-list>
      <mat-list-item (click)="navigateTo('paneles')" >Paneles</mat-list-item>
      <mat-list-item (click)="navigateTo('encuesta')" >Encuesta</mat-list-item>
      <mat-list-item (click)="navigateTo('generarQR')" >Generar QR</mat-list-item>
      <mat-list-item (click)="navigateTo('account-settings')">Configuración de cuenta</mat-list-item>
      <mat-list-item (click)="navigateTo('usuariosfirebase')">Administrar usuarios</mat-list-item>
      <mat-list-item (click)="navigateTo('apiRest')">Api-rest</mat-list-item>
      <mat-list-item (click)="logout()">Cerrar sesión</mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="title">Bienvenido a Polling Owl</span>
      <span class="spacer"></span>
      <span class="username">
        <mat-icon>account_circle</mat-icon> {{ user.nombre }}
      </span>
    </mat-toolbar>


      <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
