<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer mode="side" opened>
    <mat-nav-list>
      <mat-list-item (click)="navigateTo('home')">Home</mat-list-item>
      <mat-list-item (click)="navigateTo('paneles')">Paneles</mat-list-item>
      <mat-list-item (click)="navigateTo('encuesta')">Encuesta</mat-list-item>
      <mat-list-item (click)="navigateTo('generarQR')">Generar QR</mat-list-item>
      <mat-list-item (click)="navigateTo('account-settings')">Configuración de cuenta</mat-list-item>
      <mat-list-item (click)="logout()">Cerrar sesión</mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="title">Configuración de cuenta</span>
      <span class="spacer"></span>
      <span class="username">
        <mat-icon>account_circle</mat-icon> {{ userName }}
      </span>
    </mat-toolbar>

    <div class="content">
      <!-- Botones para manejar formularios -->


      <!-- Formulario de configuración de cuenta -->
      <div *ngIf="currentUser">
        <h2>Editar Datos de Cuenta</h2>
        <form (ngSubmit)="confirmChanges()">
          <mat-form-field class="example-full-width">
            <mat-label>Nombre</mat-label>
            <input matInput placeholder="Ej. Juan Pérez" [(ngModel)]="accountData.name" name="name">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input matInput type="email" placeholder="Ej. ejemplo@correo.com" [(ngModel)]="accountData.email" name="email">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Teléfono</mat-label>
            <input matInput type="tel" placeholder="Ej. +123456789" [(ngModel)]="accountData.phone" name="phone">
          </mat-form-field>

          <div class="button-group">
            <button mat-raised-button color="primary" type="submit">Confirmar Cambios</button>
            <button mat-button type="button" (click)="clearForm()">Limpiar</button>
          </div>
        </form>
      </div>

      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
