<mat-sidenav-container class="sidenav-container">


  <mat-sidenav-content>
    <mat-toolbar color="primary">

      <span class="title">Configuración de cuenta</span>

    </mat-toolbar>

    <div class="content">
      <!-- Botones para manejar formularios -->


      <!-- Formulario de configuración de cuenta -->
      <div *ngIf="currentUser">
        <h2>Editar Datos de Cuenta</h2>
        <form (ngSubmit)="confirmChanges()">
          <mat-form-field class="example-full-width">
            <mat-label>Nombre</mat-label>
            <input matInput placeholder="Ej. Juan Pérez" [(ngModel)]="accountData.name" name="name">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input matInput type="email" placeholder="Ej. ejemplo@correo.com" [(ngModel)]="accountData.email" name="email">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input matInput type="password" placeholder="" [(ngModel)]="accountData.password" name="password">
          </mat-form-field>

          <div class="button-group">
            <button mat-raised-button color="primary" type="submit">Confirmar Cambios</button>
            <button mat-button type="button" (click)="clearForm()">Limpiar</button>
          </div>
        </form>
      </div>

      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
