/* Estilos generales para el contenedor del sidenav */
.sidenav-container {
  height: 100vh; /* Asegura que el contenedor ocupe toda la altura de la pantalla */
  display: flex; /* Usa flexbox para permitir un diseño flexible */
  flex-direction: column; /* Asegura que el contenido fluya verticalmente */
  background-color: lightblue;
  padding: 0 16px;}

.mat-toolbar {
  display: flex; /* Usa flexbox para alinear los elementos en la barra de herramientas */
  align-items: center; /* Centra verticalmente los elementos */
  padding: 0 16px; /* Añade un poco de padding lateral para evitar que el contenido toque los bordes */
  box-sizing: border-box;
  background-color: #1976d2; /* Color primario */
  color: white;
  font-size: 1.5rem;
  justify-content: center;
  padding: 10px;
  margin-top: 10px;}
.container {
    padding: 16px;
  }
  
  mat-form-field {
    width: 100%;
    margin-bottom: 16px;
  }
  mat-card {
    border: 1px solid black; /* Para ver el borde del card */
    padding: 16px; /* Para agregar un poco de espacio interno */
    margin: 16px; /* Para agregar margen alrededor */
  }